/* Appliquer le background sur le body */
body {
    background: url('img/sea77.png') no-repeat center center fixed;
    background-size: cover;
    background-position: top;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 98%;
}

/* Style pour la div contenant l'image */
.image-container {
    width: 100%;
    text-align: center;
}

.image-container img {
    margin-top: 10px;
    padding-top: 0;
    width: 60%;
    height: 250px;
}

/* Style pour le menu */
header.menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 120px;
    
}

header.menu nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

header.menu a {
    color: black;
    text-decoration: none;
    margin: 0 15px;
}

header.menu a:hover {
    color: #7e57b4;
}

/* Style pour la div animée */
#animated-div {
    text-align: center;
    padding-bottom: 50px;
    margin: auto;
    width: 400px;
    height: 140px;
    border: 2px solid white;
    border-radius: 5px;
    opacity: 0;
    /* Initialement caché */
    display: block;
    animation: none; /* Pas d'animation par défaut */
}

/* Classe cachée */
.hidden {
    display: none;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#animated-div h1 {
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
}

#animated-div a {
    background-color: whitesmoke;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    margin: auto;
    width: 100px;
    text-align: center;
    color: #7e57b4;
    font-size: 20px;
    border: 1px solid #7e57b4;
    border-radius: 5px;
}

#animated-div a:hover {
    background-color: #7e57b4;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    text-decoration: none;
    margin: auto;
    width: 100px;
    text-align: center;
    color: white;
    font-size: 25px;
    border: 1px solid white;
}

.mdf {
    margin-top: 200px;
    width: 102%;
    background-color: whitesmoke;
    text-align: center;
}

.mdf p {
    margin: auto;
    width: 60%;
}

